#loginForm1 {
   width: 100px;
	background: #fff;
	border: 1px solid #d6d6d6;
}
#loginForm1 fieldset {
    margin:0 0 15px 0;
    display:block;
    border:0;
    padding:0;
}
#loginForm1:after {
    content: '';
    position: absolute;
    right: 9%;
    top: -9px;
    border-left: 10px solid rgba(0, 0, 0, 255);
    border-right: 10px solid rgba(0, 0, 0, 255);
    border-bottom: 10px solid #FFFFFF;
}

